.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-primary);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .menu {
    background-color: var(--background-primary);
    border-bottom: none;
    .ant-menu-item-selected {
      border-bottom: none;
    }
    .menu-item {
      color: var(--text-primary);
      font-weight: 500;
    }
  }
  .mode {
    cursor: pointer;
    color: var(--text-primary);
  }
}
