@import '~antd/dist/antd.css';
.App {
  text-align: center;
  background-color: #F9f9f9;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --background-primary: #ffffff;
  --text-primary: #07285e;
  --button-primary-background: #6699ff;
  --button-text-primary: #fff;
}
[data-theme ="dark"] {
  --background-primary: #07285e;
  --text-primary: #ffffff;
  --button-primary-background: #07285e;
  --button-text-primary: #fff;


}
